<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <h1>INSPIRATION QUOTES</h1>
    </div>
    <div class="container">

        <div class ="row">
         <div class="col-md-6">   
        <ol>
            <div *ngFor='let quotes of quotes;let i = index'>
               <li appStrikethrough> {{quotes.quotes}}</li>
               <img src="https://bit.ly/3aCnQLg"(click)='addVote(i)' name="upvote" class="btn btn-info">
               {{quotes.upvote}}
               <img src="https://bit.ly/3bJAp7L"(click)='minusVote(i)' name="downvote" class="btn btn-info">
               {{quotes.downvote}}
               <br><br>
               <button (click)='toggleDetails(i)' class="btn btn-primary">View Details</button>
                <app-quotes-detail *ngIf='quotes.showDescription'[quotes]='quotes' (isComplete) = 'deletequotes($event,i)'></app-quotes-detail>
                
            </div>
        </ol>
    </div>

    <div class="col-md-6">
    <app-quotes-form (addQuotes)="addNewQuotes($event)"></app-quotes-form>
    </div>
        </div> 
    </div>
</body>
</html>
