<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>INSPIRATION QUOTES</h1>
        <hr>
        <ol>
            <div *ngFor='let quotes of quotes'>
               <li> {{quotes.name}}</li>
               <button (click)='toggleDetails(i)'>View Details</button>
                <app-quotes-detail *ngif='quotes.showDescription'[quotes]='quotes'></app-quotes-detail>
            </div>
        </ol>
    </div>
    
</body>
</html>
